In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.4f}'.format

# Load the Dataset

In [2]:
df = pd.read_csv('data/badDataSet.csv', sep='\t', header=None, na_values='?')

In [3]:
df.columns = [f'A{i+1}' for i in range(df.shape[1] - 1)] + ['T']

# Task 1
## Number of Instances

In [4]:
print(df.shape)

(581012, 63)

## Number of Descriptive Features

In [5]:
print(df.shape[1] - 1)

62

## Data Quality Reports for Descriptive Features

In [6]:
print(df.nunique())

A1       1978
A2        361
A3     576099
A4         67
A5        569
A6     581012
A7     577988
A8       5811
A9        207
A10       186
A11       255
A12      5826
A13         2
A14         2
A15         2
A16         1
A17         1
A18         3
A19         2
A20         2
A21         2
A22         2
A23         2
A24         2
A25         2
A26         2
A27         2
A28         2
A29         2
A30         2
A31         2
A32         2
A33         2
A34         2
A35         2
A36         2
A37         2
A38         2
A39         2
A40         2
A41         2
A42         2
A43         2
A44         2
A45         2
A46         2
A47         2
A48         2
A49         2
A50         2
A51         2
A52         2
A53         2
A54         2
A55         2
A56         2
A57         2
A58         2
A59         2
A60         2
A61    581012
A62         1
T           7
dtype: int64

In [ ]:
df_des_feat = df[[f'A{i}' for i in range(1, 63)]]

report = df_des_feat.describe().T

report['% Miss.'] = (df_des_feat.isnull().sum() / len(df_des_feat)) * 100
report['Card.'] = df_des_feat.nunique()

# Rename cols
report = report.rename(columns={
    'count': 'Count',
    'mean': 'Mean',
    'std': 'Std. Dev.',
    'min': 'Min.',
    '25%': '1st Qrt.',
    '50%': 'Median',
    '75%': '3rd Qrt.',
    'max': 'Max.'
})

final_column_order = ['Count', '% Miss.', 'Card.', 'Min.', '1st Qrt.', 'Mean', 'Median', '3rd Qrt.', 'Max.', 'Std. Dev.']

report_des_feat = report[final_column_order].reset_index().rename(columns={'index': 'Feature'})

print(report_des_feat)

   Feature       Count  % Miss.   Card.         Min.     1st Qrt.  \
0       A1 581012.0000   0.0000    1978 2054845.6500 3104928.1500
1       A2 578069.0000   0.5065     361       0.0000      58.0000
2       A3 581012.0000   0.0000  576099       0.0000     145.4945
3       A4 580708.0000   0.0523      67       0.0000       9.0000
4       A5 578069.0000   0.5065     569    -691.0000     108.0000
5       A6 581012.0000   0.0000  581012    -173.0651       6.9858
6       A7 578069.0000   0.5065  577988      -1.0000      -0.4997
7       A8 581012.0000   0.0000    5811       0.0000    1106.0000
8       A9 578069.0000   0.5065     207       0.0000     198.0000
9      A11 581012.0000   0.0000     255       0.0000     119.0000
10     A12 578069.0000   0.5065    5826       0.0000    1024.0000
11     A13 578069.0000   0.5065       2       0.0000       0.0000
12     A14 581012.0000   0.0000       2       0.0000       0.0000
13     A15 581012.0000   0.0000       2       0.0000       0.0000
14     A16 578069.0000   0.5065       1       0.0000       0.0000
15     A17 581012.0000   0.0000       1       0.0000       0.0000
16     A18 578069.0000   0.5065       3       0.0000       0.0000
17     A19 581012.0000   0.0000       2       0.0000       0.0000
18     A20 577566.0000   0.5931       2       0.0000       0.0000
19     A21 173355.0000  70.1633       2       0.0000       0.0000
20     A22 581012.0000   0.0000       2       0.0000       0.0000
21     A23 581012.0000   0.0000       2       0.0000       0.0000
22     A24 581012.0000   0.0000       2       0.0000       0.0000
23     A25 581012.0000   0.0000       2       0.0000       0.0000
24     A26 581012.0000   0.0000       2       0.0000       0.0000
25     A27 581012.0000   0.0000       2       0.0000       0.0000
26     A28 581012.0000   0.0000       2       0.0000       0.0000
27     A29 581012.0000   0.0000       2       0.0000       0.0000
28     A30 581012.0000   0.0000       2       0.0000       0.0000
29     A31 581012.0000   0.0000       2       0.0000       0.0000
30     A32 581012.0000   0.0000       2       0.0000       0.0000
31     A33 581012.0000   0.0000       2       0.0000       0.0000
32     A34 581012.0000   0.0000       2       0.0000       0.0000
33     A35 581012.0000   0.0000       2       0.0000       0.0000
34     A36 581012.0000   0.0000       2       0.0000       0.0000
35     A37 581012.0000   0.0000       2       0.0000       0.0000
36     A38 581012.0000   0.0000       2       0.0000       0.0000
37     A39 581012.0000   0.0000       2       0.0000       0.0000
38     A40 581012.0000   0.0000       2       0.0000       0.0000
39     A41 581012.0000   0.0000       2       0.0000       0.0000
40     A42 581012.0000   0.0000       2       0.0000       0.0000
41     A43 581012.0000   0.0000       2       0.0000       0.0000
42     A44 581012.0000   0.0000       2       0.0000       0.0000
43     A45 581012.0000   0.0000       2       0.0000       0.0000
44     A46 581012.0000   0.0000       2       0.0000       0.0000
45     A47 581012.0000   0.0000       2       0.0000       0.0000
46     A48 581012.0000   0.0000       2       0.0000       0.0000
47     A49 581012.0000   0.0000       2       0.0000       0.0000
48     A50 581012.0000   0.0000       2       0.0000       0.0000
49     A51 581012.0000   0.0000       2       0.0000       0.0000
50     A52 581012.0000   0.0000       2       0.0000       0.0000
51     A53 581012.0000   0.0000       2       0.0000       0.0000
52     A54 581012.0000   0.0000       2       0.0000       0.0000
53     A55 581012.0000   0.0000       2       0.0000       0.0000
54     A56 581012.0000   0.0000       2       0.0000       0.0000
55     A57 581012.0000   0.0000       2       0.0000       0.0000
56     A58 581012.0000   0.0000       2       0.0000       0.0000
57     A59 581012.0000   0.0000       2       0.0000       0.0000
58     A60 581012.0000   0.0000       2       0.0000       0.0000
59     A61 581012.0000   0.0000  581012       1.0000  145253.7500
60     A62 581012.0000   0.0000       1       1.0000       1.0000

           Mean       Median     3rd Qrt.           Max.    Std. Dev.
0  3271134.4350 3311628.6000 3496222.0500   4264440.3000  309481.1260
1      155.6572     127.0000     260.0000       360.0000     111.9140
2      389.9193     318.1206     652.5318       903.4838     280.3431
3       14.1037      13.0000      18.0000        66.0000       7.4884
4      269.4240     218.0000     384.0000      1397.0000     212.5619
5       46.4188      29.9087      68.9661       600.9505      58.2952
6       -0.0002      -0.0003       0.4985         1.0000       0.5769
7     8158.1079    1997.0000    3328.0000 510165098.0000 1185156.0160
8      212.1450     218.0000     231.0000       254.0000      26.7706
9      142.5283     143.0000     168.0000       254.0000      38.2745
10    1980.4294    1710.0000    2550.0000      7173.0000    1324.2521
11       0.4489       0.0000       1.0000         1.0000       0.4974
12       0.0514       0.0000       0.0000         1.0000       0.2209
13       0.4361       0.0000       1.0000         1.0000       0.4959
14       0.0000       0.0000       0.0000         0.0000       0.0000
15       0.0000       0.0000       0.0000         0.0000       0.0000
16       0.0732       0.0000       0.0000         2.0000       0.2789
17       0.4987       0.0000       1.0000         1.0000       0.5000
18       0.0052       0.0000       0.0000         1.0000       0.0720
19       0.0052       0.0000       0.0000         1.0000       0.0719
20       0.0130       0.0000       0.0000         1.0000       0.1131
21       0.0083       0.0000       0.0000         1.0000       0.0907
22       0.0213       0.0000       0.0000         1.0000       0.1445
23       0.0027       0.0000       0.0000         1.0000       0.0524
24       0.0113       0.0000       0.0000         1.0000       0.1058
25       0.0002       0.0000       0.0000         1.0000       0.0134
26       0.0003       0.0000       0.0000         1.0000       0.0175
27       0.0020       0.0000       0.0000         1.0000       0.0444
28       0.0562       0.0000       0.0000         1.0000       0.2302
29       0.0214       0.0000       0.0000         1.0000       0.1446
30       0.0516       0.0000       0.0000         1.0000       0.2212
31       0.0300       0.0000       0.0000         1.0000       0.1706
32       0.0010       0.0000       0.0000         1.0000       0.0321
33       0.0000       0.0000       0.0000         1.0000       0.0023
34       0.0049       0.0000       0.0000         1.0000       0.0698
35       0.0059       0.0000       0.0000         1.0000       0.0765
36       0.0033       0.0000       0.0000         1.0000       0.0571
37       0.0069       0.0000       0.0000         1.0000       0.0829
38       0.0159       0.0000       0.0000         1.0000       0.1252
39       0.0014       0.0000       0.0000         1.0000       0.0380
40       0.0574       0.0000       0.0000         1.0000       0.2327
41       0.0994       0.0000       0.0000         1.0000       0.2992
42       0.0366       0.0000       0.0000         1.0000       0.1878
43       0.0008       0.0000       0.0000         1.0000       0.0286
44       0.0045       0.0000       0.0000         1.0000       0.0666
45       0.0019       0.0000       0.0000         1.0000       0.0432
46       0.0016       0.0000       0.0000         1.0000       0.0403
47       0.1984       0.0000       0.0000         1.0000       0.3988
48       0.0519       0.0000       0.0000         1.0000       0.2219
49       0.0442       0.0000       0.0000         1.0000       0.2055
50       0.0904       0.0000       0.0000         1.0000       0.2867
51       0.0777       0.0000       0.0000         1.0000       0.2677
52       0.0028       0.0000       0.0000         1.0000       0.0526
53       0.0033       0.0000       0.0000         1.0000       0.0570
54       0.0002       0.0000       0.0000         1.0000       0.0143
55       0.0005       0.0000       0.0000         1.0000       0.0226
56       0.0268       0.0000       0.0000         1.0000       0.1615
57       0.0238       0.0000       0.0000         1.0000       0.1523
58       0.0151       0.0000       0.0000         1.0000       0.1218
59  290506.5000  290506.5000  435759.2500    581012.0000  167723.8616
60       1.0000       1.0000       1.0000         1.0000       0.0000

## Data Quality Report for Response Feature

In [14]:
report = df[['T']].describe().T

report['% Miss.'] = (df['T'].isnull().sum() / len(df)) * 100
report['Card.'] = df['T'].nunique()

# Rename cols
report = report.rename(columns={
    'count': 'Count',
    'mean': 'Mean',
    'std': 'Std. Dev.',
    'min': 'Min.',
    '25%': '1st Qrt.',
    '50%': 'Median',
    '75%': '3rd Qrt.',
    'max': 'Max.'
})

final_column_order = ['Count', '% Miss.', 'Card.', 'Min.', '1st Qrt.', 'Mean', 'Median', '3rd Qrt.', 'Max.', 'Std. Dev.']

report_res_feat = report[final_column_order].reset_index().rename(columns={'index': 'Feature'})

print(report_res_feat)

  Feature       Count  % Miss.  Card.   Min.  1st Qrt.   Mean  Median  \
0       T 580952.0000   0.0103      7 1.0000    1.0000 2.0515  2.0000

   3rd Qrt.   Max.  Std. Dev.
0    2.0000 7.0000     1.3965